<h3>{{project.name}}</h3>

<div *ngIf="collapsible" class="description-trigger" (click)="openModal($event)">
  <h4>Description</h4>
  <mat-icon>open_in_new</mat-icon>
</div>

<div *ngIf="!collapsible" class="description-super-div">
  <div class="description">
    <div *ngFor="let description of project.description">
      <p>{{description.paragraph}}</p>
    </div>
  </div>
</div>

<div id="percentageBar" class="percentage-bar" #percentageBar>
  <div [style.width.%]="language.percentage" *ngFor="let language of project.languages; let first = first; let last = last">
    <span *ngIf="!first && !last" [style.background-color]="language.color"></span>
    <span *ngIf="first && last" style="border-radius: 15px;" [style.background-color]="language.color"></span>
    <span *ngIf="first && !last" style="border-radius: 15px 0px 0px 15px;" [style.background-color]="language.color"></span>
    <span *ngIf="last && !first" style="border-radius: 0px 15px 15px 0px;" [style.background-color]="language.color"></span>
  </div>
</div>
<section class="language-chip-section">
  <div matRipple class="language-chips chip-effects" [style.background-color]="language.color" *ngFor="let language of project.languages" (click)="glowBar(language.color)">
    <span class="language">{{language.name}}</span><span class="percentage">{{language.percentage}}%</span>
  </div>
</section>

<h4>Link to project:
  <span *ngIf="project.link.startsWith('http')" class="links">
    <a href="{{project.link}}" target="_blank">{{project.link}}</a>
  </span>
  <span *ngIf="!project.link.startsWith('http')" class="no-link">
    {{project.link}}
  </span>
</h4>
