<div class="footer-background"></div>
<section class="logo-links">
  <a href="https://github.com/BlackOutDevelops" target="_blank"><img src="../../assets/icons/github_logo_black.png" /></a>
  <a href="https://www.facebook.com/Xl.Joshie.lX/" target="_blank"><img src="../../assets/icons/facebook_logo.png" /></a>
  <a href="https://www.instagram.com/blazincalamity/" target="_blank"><img src="../../assets/icons/instagram_logo.png" /></a>
  <a href="https://twitter.com/blazincalamity" target="_blank"><img src="../../assets/icons/twitter_logo.png" /></a>
</section>

