@media (max-width: 1000px) {
  .carousel-section {
    visibility: hidden;
    height: 0px;
    margin: unset !important;
  }

  .grid {
    grid-template-columns: 100% !important;
    width: 95% !important;
    padding: 0px !important;
  }

  project-card {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .page-title {
      font-size: 30vw !important;
  }

  .header {
    visibility: hidden;
    height: 0px;
    margin: unset !important;
  }
}

.page-title {
  width: fit-content;
  margin: auto;
  font-family: 'Bebas Neue';
  font-weight: 500;
  font-size: 150px;
  color: white;
  text-shadow: 0px 0px 15px white;
}

.carousel-section {
  margin-bottom: 100px;
}

.header {
  width: fit-content;
  margin: 50px auto 0px auto;
  font-family: 'Bebas Neue';
  font-weight: 500;
  font-size: 60px;
  color: white;
  text-shadow: 0px 0px 15px white;
}

.filter-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 82.5%;
  height: 30px;
  z-index: 1;
}

.filter-label {
  width: fit-content;
  font-family: 'Bebas Neue';
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 15px white;
  margin: auto 0px;
}

.filter {
  border-radius: 3px;
  margin-left: 20px;
  background-color: #AAAAAA;
  color: black;
  font-family: Barlow;
  font-size: 20px;
  font-weight: 900;
  scrollbar-width: thin;
  scrollbar-base-color: white;
}

.filter-option {
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0px 25px;
  margin: auto;
  width: 72.5%;
}

project-card {
    height: 500px;
}
