h1 {
    font-family: 'Bebas Neue';
    font-size: 25px;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid black;
}

.slideshow {
  position: relative;
  display: flex;
  aspect-ratio: 320/213;
  overflow-x: clip;
  box-shadow: 0px 0px 10px 2px gray;
}

.images-container {
  z-index: 0;
}

  .images-container img {
    position: absolute;
    height: 100%;
  }

  .images-container .main-image {
    width: stretch;
  }

button {
  position: absolute;
  height: 100%;
  background-color: transparent;
  color: white;
  border: none;
  z-index: 1;
  opacity: .4;
}

  button:active {
    opacity: .1;
  }

  button:disabled {
    opacity: 0;
  }

.left-button {
  aspect-ratio: 160/213;
  left: 0;
  text-align: left;
  padding-left: 5%;
}

@keyframes wiggleLeft {
  60% {
    transform: translateX(-30px);
  }
}

.left-button:hover .animation-wrapper {
  animation: wiggleLeft 1.5s infinite;
}

.right-button {
  aspect-ratio: 160/213;
  right: 0;
  text-align: right;
  padding-right: 5%;
}

@keyframes wiggleRight {
  60% {
    transform: translateX(30px);
  }
}

.right-button:hover .animation-wrapper {
  animation: wiggleRight 1.5s infinite;
}
